{% extends 'parent.html' %} {% block title %}
<title>{{ 'Edit' if category else 'Add' }} Category</title> {% endblock %} {%
block body %}

<div>
  <h2>{{ 'Edit' if category else 'Add' }} Category</h2>
  <form
    action="{{ url_for('admin.add_or_edit_category', catregory_id=category.id if category else None) }}"
    method="POST"
  >
    {% if error %}
    <div>{{ error }}</div>
    {% endif %}

    <div>
      <input
        type="text"
        name="name"
        placeholder="Category Name"
        value="{{ request.form.get('name', category.name if category else '') }}"
        required
      />
    </div>

    <button type="submit">
      {{ 'Update' if category else 'Add' }} Category
    </button>
  </form>
</div>

{% endblock %}
