{% extends 'parent.html' %} {% block title %}
<title>Admin Dashboard | Grocery Store</title>
{% endblock %} {% block body %}
<div class="w-full flex flex-col gap-8 p-4">
  <h1 class="text-3xl font-bold text-center">Admin Dashboard</h1>

  <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
    <a
      href="{{ url_for('admin.manage_products') }}"
      class="bg-white shadow-md rounded-lg p-4 flex flex-col items-center"
    >
      <h5 class="text-lg font-semibold">Total Products</h5>
      <h3 class="text-2xl">{{ total_products }}</h3>
    </a>
    <a
      href="{{ url_for('admin.manage_users') }}"
      class="bg-white shadow-md rounded-lg p-4 flex flex-col items-center"
    >
      <h5 class="text-lg font-semibold">Registered Users</h5>
      <h3 class="text-2xl">{{ total_users }}</h3>
    </a>
    <a
      href="{{ url_for('admin.manage_orders') }}"
      class="bg-white shadow-md rounded-lg p-4 flex flex-col items-center"
    >
      <h5 class="text-lg font-semibold">Total Orders</h5>
      <h3 class="text-2xl">{{ total_orders }}</h3>
    </a>
    <a class="bg-white shadow-md rounded-lg p-4 flex flex-col items-center">
      <h5 class="text-lg font-semibold">Total Revenue</h5>
      <h3 class="text-2xl">৳{{ "%.2f"|format(total_revenue) }}</h3>
    </a>
    <a
      href="{{ url_for('admin.manage_contacts') }}"
      class="bg-white shadow-md rounded-lg p-4 flex flex-col items-center"
    >
      <h5 class="text-lg font-semibold">Unread Messages</h5>
      <h3 class="text-2xl">{{ unread_contacts_count }}</h3>
    </a>
  </div>

  <div class="bg-white shadow-md rounded-lg p-4 flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-bold">Product Management</h2>

      <div class="flex gap-4">
        <a
          href="{{ url_for('admin.add_or_edit_product') }}"
          class="px-5 py-2.5 font-medium bg-blue-50 hover:bg-blue-100 hover:text-blue-600 text-blue-500 rounded-lg text-sm"
        >
          Add Product
        </a>
        <a
          href="{{ url_for('admin.manage_products') }}"
          class="px-5 py-2.5 font-medium bg-blue-50 hover:bg-blue-100 hover:text-blue-600 text-blue-500 rounded-lg text-sm"
        >
          All Products
        </a>
        <a
          href="{{ url_for('admin.manage_categories') }}"
          class="px-5 py-2.5 font-medium bg-blue-50 hover:bg-blue-100 hover:text-blue-600 text-blue-500 rounded-lg text-sm"
        >
          Add Category
        </a>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full border-collapse border border-gray-300">
        <thead>
          <tr class="border-b">
            <th class="px-6 py-3 text-left border">Name</th>
            <th class="px-6 py-3 text-left border">Category</th>
            <th class="px-6 py-3 text-left border">Price</th>
            <th class="px-6 py-3 text-left border">Quantity</th>
            <th class="px-6 py-3 border">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr class="border-b">
            <td class="px-6 py-4 border">{{ product.name }}</td>
            <td class="px-6 py-4 border">
              {{ product.category.name if product.category else 'Uncategorized'
              }}
            </td>
            <td class="px-6 py-4 border">
              ৳{{ "%.2f"|format(product.price) }}
            </td>
            <td class="px-6 py-4 border">{{ product.quantity }}</td>
            <td class="px-6 py-4 border">
              <div role="group" class="flex space-x-2">
                <a
                  href="/admin/product/{{ product.id }}"
                  class="text-blue-500 hover:underline"
                  >Edit</a
                >
                <form
                  action="/admin/delete_product/{{ product.id }}"
                  method="POST"
                >
                  <button
                    type="submit"
                    class="text-red-500 hover:underline"
                    onclick="return confirm('Are you sure?')"
                  >
                    Delete
                  </button>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="bg-white shadow-md rounded-lg p-4 flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-bold">User Management</h2>

      <div class="flex items-center gap-4">
        <a
          href="{{ url_for('admin.add_or_edit_user') }}"
          class="px-5 py-2.5 font-medium bg-blue-50 hover:bg-blue-100 hover:text-blue-600 text-blue-500 rounded-lg text-sm"
          >Add User</a
        >
        <a
          href="{{ url_for('admin.manage_users') }}"
          class="px-5 py-2.5 font-medium bg-blue-50 hover:bg-blue-100 hover:text-blue-600 text-blue-500 rounded-lg text-sm"
          >All Users</a
        >
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full border-collapse border border-gray-300">
        <thead>
          <tr class="border-b">
            <th class="px-6 py-3 text-left border">Name</th>
            <th class="px-6 py-3 text-left border">Email</th>
            <th class="px-6 py-3 text-left border">Role</th>
            <th class="px-6 py-3 text-left border">Registered On</th>
            <th class="px-6 py-3 border">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr class="border-b">
            <td class="px-6 py-4 border">{{ user.name }}</td>
            <td class="px-6 py-4 border">{{ user.email }}</td>
            <td class="px-6 py-4 border">
              {{ 'Admin' if user.is_admin else 'User' }}
            </td>
            <td class="px-6 py-4 border">
              {{ user.created_at.strftime('%I:%M:%S %p - %d %b %Y') }}
            </td>
            <td class="px-6 py-4 border">
              <div role="group" class="flex space-x-2">
                <a
                  href="{{ url_for('admin.add_or_edit_user') }}/{{ user.id }}"
                  class="text-blue-500 hover:underline"
                  >Edit</a
                >
                {% if not user.is_admin %}
                <form action="/admin/delete_user/{{ user.id }}" method="POST">
                  <button
                    type="submit"
                    class="text-red-500 hover:underline"
                    onclick="return confirm('Are you sure?')"
                  >
                    Delete
                  </button>
                </form>
                {% endif %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="bg-white shadow-md rounded-lg p-4 flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-bold">Recent Orders</h2>

      <a
        href="{{ url_for('admin.manage_orders') }}"
        class="px-5 py-2.5 font-medium bg-blue-50 hover:bg-blue-100 hover:text-blue-600 text-blue-500 rounded-lg text-sm"
      >
        View All Orders
      </a>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full border-collapse border border-gray-300">
        <thead>
          <tr class="border-b">
            <th class="px-6 py-3 text-left border">Order ID</th>
            <th class="px-6 py-3 text-left border">User</th>
            <th class="px-6 py-3 text-left border">Products</th>
            <th class="px-6 py-3 text-left border">Total Price</th>
            <th class="px-6 py-3 text-left border">Status</th>
            <th class="px-6 py-3 text-left border">Date</th>
            <th class="px-6 py-3 border">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for order in recent_orders %}
          <tr class="border-b">
            <td class="px-6 py-4 border">{{ order.id }}</td>
            <td class="px-6 py-4 border">{{ order.user.name }}</td>
            <td class="px-6 py-4">
              {% for item in order.order_items %} {{ item.product["name"] }} ({{
              item.quantity }}){% if not loop.last %}, {% endif %} {% endfor %}
            </td>
            <td class="px-6 py-4 border">
              ৳{{ "%.2f"|format(order.total_price) }}
            </td>
            <td
              class="px-6 py-4 border {{ 'text-green-600' if order.status == 'Shipped' else 'text-red-600' if order.status == 'Canceled' else 'text-gray-600' }}"
            >
              {{ order.status }}
            </td>

            <td class="px-6 py-4 border">
              {{ order.created_at.strftime('%Y-%m-%d %H:%M') }}
            </td>
            <td class="px-6 py-4 border">
              <form
                action="{{ url_for('admin.update_order_status', order_id=order.id) }}"
                method="POST"
              >
                <select
                  class="bg-white {{ 'text-green-600 pointer-events-none' if order.status == 'Shipped' else 'text-red-600 pointer-events-none' if order.status == 'Canceled' else 'text-gray-600' }}"
                  name="status"
                  onchange="this.form.submit()"
                >
                  <option value="{{order.status}}" selected disabled hidden>
                    {{ order.status }}
                  </option>
                  {% for status in ['Pending', 'Processing', 'Shipped',
                  'Delivered', 'Canceled'] %}
                  <option value="{{ status }}">{{ status }}</option>
                  {% endfor %}
                </select>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  function confirmAction(message) {
    return confirm(message);
  }
</script>
{% endblock %}
