{% extends 'parent.html' %} {% block title %}
<title>Contact | Grocery Store</title>
{% endblock title %} {% block body %}

<main class="w-full">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900"
    >
      Contact Us
    </h2>
    <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 sm:text-xl">
      Have questions or feedback? We're here to help! Reach out to us and we'll
      get back to you as soon as possible.
    </p>

    <form
      action="{{ url_for('public.contact') }}"
      method="POST"
      class="space-y-8"
    >
      <div>
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">
          Your name
        </label>
        <input
          type="text"
          id="name"
          name="name"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
          value="{{ name }}"
          required
        />
      </div>

      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
          >Your email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
          value="{{ email }}"
          placeholder="name@domain.com"
          required
        />
      </div>

      <div>
        <label
          for="subject"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Subject</label
        >
        <input
          type="text"
          id="subject"
          name="subject"
          class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500"
          value="{{ subject }}"
          placeholder="Let us know how we can help you"
          required
        />
      </div>

      <div class="sm:col-span-2">
        <label
          for="message"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Your message</label
        >
        <textarea
          id="message"
          name="message"
          rows="6"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
          placeholder="Leave a comment..."
          required
        >
{{ message }}
</textarea
        >
      </div>

      <button
        type="submit"
        class="flex w-full justify-center rounded-md bg-purple-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600"
      >
        Send Message
      </button>
    </form>
  </div>
</main>

{% endblock %}
