{% extends 'parent.html' %} {% block title %}
<title>Products Display</title>
{% endblock title %} {% block body %}

<div class="container d-flex flex-wrap gap-2">
  {% for product in products %}
  <div class="border border-secondary p-2">
    <img
      src="{{ product.image or 'https://via.placeholder.com/150' }}"
      class="rounded float-start"
      alt="{{ product.name }}"
      height="150"
    />
    <p class="px-4">{{ product.name }}</p>
    <p class="px-4">Price {{ product.price }}</p>
    <button class="btn btn-outline-danger mx-4">Order Now</button>
  </div>
  {% endfor %}
</div>

{% endblock body %}
