{% extends 'parent.html' %} {% block title %}
<title>Products Display</title>
{% endblock title %} {% block body %}

<div class="container d-flex flex-wrap gap-4 mx-auto">
  {% for product in products %}
  <div class="card" style="width: 18rem">
    <img
      src="{{ product.image or 'https://via.placeholder.com/150' }}"
      class="card-img-top object-fit-cover"
      style="height: 300px"
      alt="{{ product.name }}"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ product.name }} -
        <span class="text-danger">${{ product.price }}</span>
      </h5>
      <p class="card-text">{{ product.description }}</p>
      <a href="#" class="btn btn-primary">Order Now</a>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock body %}
