{% extends 'parent.html' %} {% block title %}
<title>Login Page</title>
{% endblock title %} {% block body %}

<div class="container">
  <h2 class="text-center mb-5">Login</h2>

  <form class="d-grid gap-2 w-50 mx-auto" action="/" method="post">
    <input
      type="text"
      class="form-control"
      placeholder="Email"
      aria-label="Email"
    />

    <input
      type="text"
      class="form-control"
      placeholder="Password"
      aria-label="password"
    />

    <button type="submit" class="btn btn-outline-danger mb-5">Login</button>
    <a class="text-center" href="/register">
      If not registered then register now!
    </a>
  </form>
</div>
{% endblock body %}
