<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block title %}
    <title>Grocery Store</title>
    {% endblock title %}
    <script src='{{ url_for("static",
    filename="scripts/tailwind.js") }}'></script>
    <link rel="shortcut icon" href="{{ url_for("static",
    filename="icons/logo.svg") }}" type="image/svg+xml" />
  </head>

  <body
    class="flex flex-col justify-between min-h-screen max-w-screen-xl mx-auto"
  >
    <nav class="bg-white border-gray-200">
      <div class="flex flex-wrap items-center justify-between p-4">
        <a
          href="/"
          class="flex justify-center items-center gap-4 text-3xl text-purple-600 font-bold"
        >
          <img src="{{ url_for("static", filename="icons/logo.svg") }}"
          class="h-8" alt="Grocery Store" /> Grocery Store
        </a>
        <div class="flex md:order-2">
          <button
            type="button"
            data-collapse-toggle="navbar-search"
            aria-controls="navbar-search"
            aria-expanded="false"
            class="md:hidden text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm p-2.5 me-1"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </button>
          <form
            class="relative hidden md:block"
            action="{{ url_for('public.search') }}"
            method="GET"
          >
            <button
              type="submit"
              class="absolute inset-y-0 start-0 flex items-center ps-3 cursor-pointer"
            >
              <svg
                class="w-4 h-4 text-gray-500"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
              </svg>
            </button>
            <input
              type="text"
              class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Search..."
              required
            />
          </form>

          <a
            href="{{ url_for('public.index') }}"
            class="flex items-center justify-center gap-2 px-4 py-2 text-sm font-medium text-white bg-purple-600 rounded-md hover:bg-purple-500 focus:ring-4 focus:ring-purple-300 ml-4"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
              />
            </svg>
            {{ cart_count }}
          </a>

          <button
            data-collapse-toggle="navbar-search"
            type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
            aria-controls="navbar-search"
            aria-expanded="false"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 17 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"
              />
            </svg>
          </button>
        </div>
        <div
          class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        >
          <div class="relative mt-3 md:hidden">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
              </svg>
            </div>
            <input
              type="text"
              class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Search..."
            />
          </div>
          <ul
            class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white"
          >
            <a
              href="/"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
            >
              Home
            </a>

            {% if is_admin %}
            <a
              href="/admin/dashboard"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
            >
              Admin Dashboard
            </a>
            {% endif %} {% if username %}
            <a
              href="/"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:"
              >My Profile</a
            >
            <a
              href="/logout"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:"
              >Logout</a
            >
            {% else %}
            <a
              href="{{ url_for('user.login') }}"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:"
              >Login</a
            >
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <main class="w-full flex-1 flex py-8 md:py-12">
      {% block body %} {% endblock body %}
    </main>

    <footer class="rounded-lg shadow pb-4">
      <div class="w-full p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500">
          © 2025 <a href="/" class="hover:underline">Grocery Store &trade;</a>
        </span>
        <ul class="flex items-center gap-4 text-gray-400 text-sm">
          <a href="/" class="hover:underline hover:text-pink-400">
            Fatematuj Johura Mim
          </a>
          <a href="/" class="hover:underline hover:text-blue-500">
            Rayhan Aziz Chowdhury Shafi
          </a>
        </ul>
      </div>
    </footer>
  </body>
</html>
